@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*,
*::before,
*::after {
 box-sizing: border-box;
}

* {
padding: 0;
 margin: 0;
font: inherit;
scroll-behavior: smooth;
}

p{
 margin-bottom: 0;
 font-family: var(--main-font);
}

ul
ol {
list-style: none;
 padding-left: 0;
 margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-font);
  color: var(--white);
  font-weight: 500;
  }


html {
scroll-behavior: smooth;
}

a:focus
a:hover {
outline: none;
font-family: var(--main-font);
}

:root{
    --main-bg-color: #333;
    --light-black:#2e2e2e;
    --black: #000;
    --white: #fff;
  --main-font: "Instrument Sans", sans-serif;
  --light-grey: #8e8e8e;
  --transparent: transparent;
  --pulse-background: #00b803;
  --card-border: #1d1d1d;
  --card-background:#0a0a0a ;
}
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
html,body{
    background-color: var(--black);
    overflow-x: scroll;
    height: auto;
    overflow: hidden;
}

.pad-Y{
    padding: 90px 0;
}

/* top-header */

.left__content h4{
    color: var(--light-grey);
}

.left__content span{
    color: var(--white);
}

.middle__content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle__content span{
    color: var(--white);
    font-size: 25px;
}

.top__button{
    display: flex;
    justify-content: right;
}

.btn{
    border: 2px solid var(--white);
    border-radius: 30px;
    padding: 10px 20px;
    color: var(--white);
    background: transparent;
    position: relative;
    overflow: hidden;
}


.btn::after, .btn::before{
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: var(--white);
    z-index: -1;
  }

  .btn::before {
      transform: translateX(-100%);
      z-index: 1;
    }
    
    .btn:hover:before {
      transform: translateX(0);
      transition: transform 350ms ease;
    }
    
    .btn::after {
       z-index: 0;
      transform: translateX(100%);
      transition: none;
      transition: transform 350ms ease;
    }
    
    .btn:hover:after {
      opacity: 1;
      transform: translateX(0);
     transition: transform 350ms 360ms ease;
    }

.btn a{
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
    z-index: 5;
    position: relative;
    transition: color 350ms ease;
}

.btn:hover a{
    color: var(--black) ;
    transition: 350ms ease;
}

.middle__content {
    transition: transform 0.3s ease, color 0.3s ease;
}

.middle__content:hover {
    transform: scale(1.1); 
}

.middle__content i {
    font-size: 30px;
    transition: color 0.3s ease;
}

.top__header{
    display: none;
}

.top__header2{
    display: block;
}

.header__contents{
    display: flex;
    justify-content: space-between;
}


/* portfolio__banner */

.banner__content{
    text-align: center;
}

.avaliability{
    display: flex;
    justify-content: center;
    align-self: center;
}

.avaliability__content {
    margin-left: 15px;
    margin-top: -2px;
}

.banner__content h5{
    color: var(--light-grey);
}

.pulse__circle{
    position: relative;
    background: var(--pulse-background);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.pulse__circle span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    opacity: .8;
    animation: pulseanimate 4s ease-in-out infinite;
    animation-delay: calc(1s * var(--i));
    
}

@keyframes pulseanimate {
    100%{
        opacity: 0;
        transform: scale(2);
    }
}

.portfolio__name h1 span{
    position: relative;
    display: inline-block;
}

.portfolio__name h1{
    font-weight: 600;
    font-size: 70px;
    color: var(--white);
    padding: 0px 394px;
    overflow: hidden;
}

/* portfolio__f-image */

.designation{
    display: flex;
    justify-content: end;
}

.designation h6{
    color: var(--light-grey);
}

.designation span{
    color: var(--white);
}

.portfolio__image{
    height: 100vh;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.portfolio__image img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* portfolio__works */

.portfolio__works{
    padding-top: 0px;
}

.works__heading{
    padding-bottom: 50px;
    position: relative;
}

.works__heading h1{
    position: relative;
}

.works__heading h1 span{
    display: block;
    font-weight: 600;
    font-size: 70px;
    color: var(--white);
    text-align: center;
}

.work1, .work2, .work3, .work4, .work5, .work6{
    border: 1px solid var(--card-border);
    background-color: var(--card-background);
    border-radius: 10px;
}

.work__image{
    width: 100%;
    overflow: hidden;
    height: 240px;
    border-radius: 10px 10px 0px 0px;

}

.work__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
    overflow: hidden;
}

.work__image img:hover{
    transform: scale(1.2);
    transition: all .3s ease-in-out;

}

.portfolio__works a{
    text-decoration: none;
}

.work__content {
    padding: 25px;
}

.work__content p{
    color: var(--white);
}

.work-pad{
    margin-top: 25px;
}

/* portfolio__about */

.portfolio__about{
    padding-top: 0px;
    position: relative;
    overflow: hidden;
}

.about__heading{
    padding-bottom: 50px;
    position: relative;
    text-align: center;
    z-index: 2;
}

.about__heading h1 span{
    font-size: 70px;
    position: relative;text-align: center;
    display: block;
    color: var(--white);
    font-weight: 600;
}

.about__image{
    position: relative;
    width: 500px;
    height: 969px;
    margin: 0 auto;
    
}

.about__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 300px;
    
}

/* portfolio__cta */

.portfolio__cta{
    padding-top: 0px;
}

.cta_content{
    text-align: center;
}

.cta_content h3{
    font-weight: 600;
}

.cta_content p{
    color: var(--white);
    font-size: 20px;
    padding: 20px 0;
}

/* portfolio__marquee */

.portfolio__marquee{
    padding-top: 0px;
}

.portfolio__marquee ul {
    display: inline-flex;
    gap: 30px;
    list-style: none;
    animation: partnerAnim 50s infinite linear;
    transform: translateX(0px);
}

@keyframes partnerAnim{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-2000px);
    }
}




.marquee__logo{
    width: 250px;
    padding: 20px;
    border: 1px solid var(--card-border);
    background-color: var(--card-background);
    border-radius: 10px;
    /* box-shadow: inset -5px -5px 10px 0px rgba(255, 255, 255, 0.274), inset 5px 5px 10px 0px rgba(77, 77, 77, 0.3); */
    
}

.marquee__logo img{
    width: 100%;
}

.portfolio__marquee ul li:nth-child(even){
    transform: rotate(4deg);
}

.portfolio__marquee ul li:nth-child(odd){
    transform: rotate(-4deg);
}

/* portfolio__expertise */

.portfolio__expertise{
    padding-top: 0px;
}

.expertise__heading h1 span{
    font-size: 70px;
    position: relative;
    display: block;
    color: var(--white);
    font-weight: 600;
}

.expertise1{
    display: flex;
    justify-content: space-between;
}

.expertise__list{
    padding-top: 40px;
}

.expertise1{
    padding: 30px;
    border: 1px solid var(--card-border);
    background-color: var(--card-background);
    border-radius: 10px;
    /* box-shadow: inset -5px -5px 10px 0px rgba(255, 255, 255, 0.274), inset 5px 5px 10px 0px rgba(77, 77, 77, 0.3); */
}

.expertise1_content p{
    color: var(--light-grey);
    font-size: 20px;
}

.expertise1_button {
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 50%;
    display: inline-block;
    background: transparent;

}

.expertise1_button{
    transition: .3s all ease-in-out;
    transform: rotate(0deg);
 width: 50px;
 height: 50px;
}

.expertise1_button:hover{
    
    background-color: var(--white);
    color: var(--black);
    transition: .3s all ease-in-out;
    transform: rotate(180deg);
}

.expertise1_button span{
    font-size: 20px;
}

.ex__gap{
    margin-top: 30px;
}

.modal-content{
    background-color: var(--light-black);
    padding: 20px;
} 
 .modal-right img{
    width: 100%;
    border-radius: 5px;
}
.modal-left p{
    color: var(--light-grey);
    text-align: left;
    padding-bottom: 10px;
}

.modal-left ul{
    list-style: none;
    padding-left: 0px;
}

.modal-left ul li{
    padding-bottom: 5px;
    color: var(--light-grey);
    text-align: left;
} 

 .modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: var(--bs-modal-header-padding);
   border-bottom: var(--bs-modal-header-border-width) solid var(--transparent); 
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
} 

.modal-backdrop {
    --bs-backdrop-zindex: 1050;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: 0.5;
    position: relative;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg);
}


.btn-close {
    --bs-btn-close-color: #000;
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    --bs-btn-close-opacity: 0.5;
    --bs-btn-close-hover-opacity: 0.75;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: var(--bs-btn-close-color);
    background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
    border: 0;
    border-radius: .375rem;
    opacity: var(--bs-btn-close-opacity);
}

.modal-buttons{
    margin-top: 15px;
}

/* motivation */

.portfolio__motivation2{
    display: none;

}

.motivation__heading h2{
    color: var(--white);
    font-weight: 600;
}

.motivation__para p{
    color: var(--white);
    font-size: 20px;
    padding-bottom: 50px;
}

.motivation__signature img {
    visibility: visible;
    position: relative;
}

.portfolio__motivation{
    padding-top: 0px;
}

/* about2 */

.portfolio__about2{
    padding-top: 0px;
}

.about2__image{
        height: 100vh;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
}

.about2__image img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* experience */

.portfolio__experience{
    padding-top: 0px;
}

.exp__details{
    display: flex;
    justify-content: space-between;
}

.experience1 {
    padding: 30px;
    border-bottom: 1px solid var(--card-border);
    
    border-radius: 10px;
    /* box-shadow: inset -5px -5px 10px 0px rgba(255, 255, 255, 0.274), inset 5px 5px 10px 0px rgba(77, 77, 77, 0.3);
    */
}

.exp__designation h4{
   margin-bottom: 0px;
   padding-bottom: 10px;
}

.experience1 p{
    color: var(--light-grey);
    font-size: 20px;
}

.motivation__heading {
    flex: 1;
    position: sticky;
    top: 0;
  }

/* tools */
  .portfolio__tools{
    padding-top: 0px;
  }

  .tool__image {
    border: 1px solid var(--card-border);
    background-color: var(--card-background);
    border-radius: 10px;
    border-radius: 10px;
    /* box-shadow: inset -5px -5px 10px 0px rgba(255, 255, 255, 0.274), inset 5px 5px 10px 0px rgba(77, 77, 77, 0.3); */
    width: 65px;
    height: 55px;
    border-radius: 5px;
    padding: 10px;
}

  .tool__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .tool1{
    padding: 30px;
    border: 1px solid var(--card-border);
    background-color: var(--card-background);
    border-radius: 10px;
    border-radius: 10px;
    /* box-shadow: inset -5px -5px 10px 0px rgba(255, 255, 255, 0.274), inset 5px 5px 10px 0px rgba(77, 77, 77, 0.3); */
    margin-bottom: 30px;
  }
  .tool1{
    display: flex;
    gap: 30px;
  }

  .tool__details{
    display: flex;
    justify-content: space-between;padding: 30px;
    border: 1px solid var(--card-border);
    background-color: var(--card-background);
    border-radius: 10px;
    border-radius: 10px;
    /* box-shadow: inset -5px -5px 10px 0px rgba(255, 255, 255, 0.274), inset 5px 5px 10px 0px rgba(77, 77, 77, 0.3); */
  }

  .tool__expertise p{
    color: var(--light-grey);
    font-size: 20px;
  }


/* about3 */

.portfolio__about3 {
    padding-top: 0px;
}

.about3__image{
    height: 100vh;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.about3__image img{
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

/* faq */

.portfolio__faq {
    padding-top: 0px;
}

.faq__heading h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    position: relative;
    display: block;
    color: var(--white);
    font-weight: 600;
}

.all__faqs{
    margin-top: 20px;
}

.accordion-item {
    margin-bottom: 15px;
}
  

.accordion-body {
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
    background-color: var(--card-background);
    color: var(--light-grey);
    border-bottom: 1px solid var(--card-border);
}

.accordion-flush>.accordion-item>.accordion-header .accordion-button, .accordion-flush>.accordion-item>.accordion-header .accordion-button.collapsed {
    border-radius: 0;
    background: var(--card-background);
    border: 1px solid var(--card-border);
    color: var(--white);
    border-radius: 5px;
    box-shadow: none;
}

.accordion {
    --bs-accordion-bg: var(--transparent);
    
}


.accordion-button::after {
    flex-shrink: 0;
    width: 20px; 
    height: 20px;
    margin-left: auto;
    content: "";
    background-image: url(../images/icons8-plus-480.png); 
    background-repeat: no-repeat;
    background-size: contain;
    transition: var(--bs-accordion-btn-icon-transition);
}


.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3E%3Cpath d='M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E"); /* Simple Minus Icon */
}

/* contact */

.portfolio__contact {
    padding-top: 0px;
}

.contact__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.contact__heading h2 span {
    font-size: 70px;
    position: relative;
    display: block;
    color: var(--white);
    font-weight: 600;
    text-align: center;
}

.contact__image{
    max-width: 900px;
    height: 1347px;
   
}

.contact__image img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.contact__details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.contact__des h5{
    text-align: center;
    padding: 0 73px;
}

/* footer */

.portfolio__footer {
    padding-top: 0px;
}

.footer__links ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.footer__links ul li{
    list-style: none;
}

.footer__links ul li a{
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.footer__links ul li a span{
    color: var(--white);
    font-size: 20px;
    margin-left: 5px;
    display: inline-block;
    transform: rotate(45deg);
}

.footer__links ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0; 
    height: 2px; 
    background-color: var(--white); 
    transition: width 0.5s ease; 
  }

  .footer__links ul li a:hover::after {
    width: 100%;  
  }


  .footer__heading h2 {
    font-size: 70px;
    position: relative;
    display: block;
    color: var(--white);
    font-weight: 600;
    text-align: center;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer__copyright a{
   color: var(--white); 
   text-decoration: none;
   position: relative;
}

.footer__copyright a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0; 
    height: 2px; 
    background-color: var(--white); 
    transition: width 0.5s ease; 
  }

  .footer__copyright a:hover::after {
    width: 100%;  
  }







